*.retry
Gemfile.lock
.newjiraissue
private_dot_3llo/config.sh
*secret*
# rainbowstream (twitter client)
completer.hist

# no logs
*.log

# gh / github
private_dot_config/gh/state.yml

# no backups
*.bak

# no secrets
private_dot_config/gh/hosts.yml

# no symbolic links
.pre-commit-config.yaml

# newsboat (rss reader)
*newsboat/cache.db
*newsboat/history.cmdline
